# Ignora arquivos temporários e do sistema
*.tmp
*.log
.DS_Store
Thumbs.db
__pycache__/
*.pyc

# Ignora arquivos e pastas do VSCode
.vscode/

# Ignora arquivos AI (exceto layout)
*.ai
!layout/Layout de Aniversariantes.ai

# Ignora arquivos gerados
/output/*
!output/.gitkeep
